@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Figtree', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: uppercase;
    transition: all ease .2s ease-out;
    text-decoration: none;
}

/*--Switch--*/

    #Switch {
        padding: 20px 20px;
        position: absolute;
        display: none;
        background-color: #3498DB;
        height: 200px;
        width: 240px;
        color: white;
    }

    #Switch a {
        color: white;
    }

    .Click {

        font-weight: bold;
    }

    .Click:hover {
        background-color: #3498DB;
        color: white;
    }

    .Choice {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .Choice a {
        text-align: center;
    }

/*--/Switch--*/

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

.Logo_Sprite {
    animation: moveSpritesheet 1s steps(6) infinite;
}

.Sprite {
    padding: 10px 10px;
    width: 250px;
    height: 300px;
    overflow: hidden;
}

@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px,0,0)
    }
    to {
        transform: translate3d(-109%,0,0)
    }
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: rgb(255, 255, 255);
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 5rem;
    letter-spacing: 2rem;
}

.heading span{
    color: darkcyan;
}

.heading span:hover{
    font-size: 5rem;
    color: gold;
}



.btn span{
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    background:  royalblue;
    color: lightcyan;
    margin-left: 0.5rem;
}



.btn:hover span{
    background:lightcyan;
    color: royalblue;
    margin-left: 1rem;
}

.header{
    padding: 2rem 9%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 255, 255);
}

.header .logo {
    font-size: 2.5rem;
    color: royalblue;
    text-decoration: none;
}

.header .logo i{
    color:rgb(14, 158, 1) ;
}

.header .navbar a{
    font-size: 1.7rem;
    color: royalblue;
    margin-left: 2rem;
}

.header .navbar a:hover{
    color:	teal ;
}

.header a span{
    color: rgb(6, 148, 1);
}

.header .navbar .btn{
    padding: 5px 5px;
    border: 5px;
    color: white;
    border-style: initial;
    background: rgb(156, 156, 156);
    border-radius: 20px;
}

.header .navbar .btn:hover{
    color: lightcyan ;
    background-color: rgb(0, 255, 13);
}

#menu-btn{
    font-size: 2.5rem;
    color:rgb(0, 0, 0);
  
    cursor: pointer;
    display: none;
}


/*home section*/
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 100px;
    margin-bottom: 100px;

}

.home .image{
    flex: 1 1 45rem;
}

.home .image img{
    width: 100%;
}

.home .content h3{
    margin-top: 120px;
    font-size: 3rem;
    color: rgb(14, 158, 1);
    line-height: 1.8;
}

.home .content p{
    font-size: 1.7rem;
    color:  rgb(97, 96, 96);
    line-height: 1.8;
    padding: 1rem;
    text-transform: lowercase;
    font-style: italic;    
}

.home .content a{
    align-items: center;
    position: relative;
}

.content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

.content1 p {

    font-size: 2rem;
}
/*home section end*/

/*services section*/
.services{
    background: lightcyan;
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:8rem;
}

.services .box-container .box{
    border-radius: 0.5rem;
    box-shadow:rgb(0,128,128);
    border: 0.2rem solid royalblue;
    padding: 2.5rem;
}

.services .box-container .box:hover{
    border-radius: 0.5rem;
    box-shadow:springgreen;
    border: 0.2rem solid  teal;
    background: white;
    padding: 2.5rem;
    transition: 0.3s ease ;
}

.services .box-container .box i{
    color:darkcyan ;
    font-size: 5rem;
    padding-bottom: 0.5rem;
}

.services .box-container .box h3{
    color: blue;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.services .box-container .box p{
    color: royalblue;
    font-size: 1.4rem;
    line-height: 2;
    text-transform: lowercase;
}
/*services section end*/



/*about section */
.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row .image img{
    width: 100%;
    margin-top: 10rem;
    margin-bottom: 8rem;
}

.about .row .content{
    flex: 1 1 45rem;
}

.about .row .content h3{
    color: blue;
    text-shadow: black;
    font-size: 4rem;
    line-height: 1.8;
    margin: 10px 10px 10px 10px;
}

.about .row .content p{
    color: rgb(80, 80, 80);
    font-size: 1.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.8;
    margin: 10px 10px 10px 10px;
}

.about .row .content .btn{
    margin-left: 6rem;
}
/*about section end*/


/*doctors section */
.imageBox {
    display: flex;
    margin: 15px 15px 15px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 20rem;
    width: 31.5rem;
    background-color: #ddd;

}

.doctors .box-container{
    overflow-x: scroll;
    display: flex;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:8rem;
}

.doctors .box-container .box{
    align-items: center;
    text-align: center;
    background: lightblue;
    border-radius: 5rem;
    border: blue;
    box-shadow: black;
}

.doctors .box-container .box h3{
    color: blue;
    font-size: 2.5rem;
}

.doctors .box-container .box span{
    color: darkcyan;
    font-size: 1.5rem;
}

.doctors .box-container .box .share a{
    height: 5rem;
    width: 5rem;
    line-height:4.5rem ;
    font-size: 2rem;
    color: darkcyan;
    border-radius:0.5rem ;
    border: blue;
    margin:0.3 ;
}

.doctors .box-container .box .share a:hover{
    background: gold;
    color:blue ;
    border-radius: 5rem;
}

.doctors .btn{
    margin-left: 30rem;
    align-items: center;
}

/*doctors section end*/


/*book section*/
.book .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.book .row .image{
    flex: 1 1 45rem;
}

.book .row .image img{
    width: 100%;
}

.book .row form{
    flex: 1 1 45rem; 
    border:0.3rem solid blue; 
    box-shadow: black;
    text-align: center;
    padding: 2rem;
    border-radius: 0.5rem;
}

.book .row form h3{
    color: blue;
    padding-bottom: 1rem;
    font-size: 3rem;
}

.book .row form .box{
    width: 100%;
    margin: 0.7rem 0;
    border-radius: 0.5rem;
    border:0.3rem solid blue; 
    font-size: 1.6rem;
    color: black;
    text-transform: none;
    padding: 1rem;
}

.book .row form .btn{
    padding: 1rem 3rem;
}

/*book section end*/

/*request section*/
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: blue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
}
  
.dropdown a:hover {background-color: #ddd;}
  
.show {display:inline;}
/*request section end*/

/*contact section*/

.contact .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact .row .image{
    flex: 1 1 45rem;
}

.contact .row .image img{
    width: 100%;
}
.contact .row form{
    flex: 1 1 45rem; 
    border:0.3rem solid blue; 
    box-shadow: black;
    text-align: center;
    padding: 2rem;
    border-radius: 0.5rem;
}

.contact .row form h3{
    color: blue;
    padding-bottom: 1rem;
    font-size: 3rem;
}

.contact .row form .box{
    width: 100%;
    margin: 0.7rem 0;
    border-radius: 0.5rem;
    border:0.3rem solid blue; 
    font-size: 1.6rem;
    color: black;
    text-transform: none;
    padding: 1rem;
}

.contact .row form .btn{
    padding: 1rem 3rem;
}
/*contact section end*/

/*sign up section*/

.signup .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.signup .row .image{
    flex: 1 1 45rem;
}

.signup .row .image img{
    width: 100%;
}
.signup .row form{
    flex: 1 1 45rem; 
    border:0.3rem solid blue; 
    box-shadow: black;
    text-align: center;
    padding: 2rem;
    border-radius: 0.5rem;
}

.signup .row form h3{
    color: blue;
    padding-bottom: 1rem;
    font-size: 3rem;
}
.signup .row form p{
    text-transform: lowercase;
    font-size: 1.5rem;
    color: darkcyan;
}
.signup .row form p span{
    color: red;
    font-size: 2rem;
}
.signup .row form .box{
    width: 100%;
    margin: 0.7rem 0;
    border-radius: 0.5rem;
    border:0.3rem solid blue; 
    font-size: 1.6rem;
    color: black;
    text-transform: none;
    padding: 1rem;
}

.signup .row form .btn{
    padding: 1rem 3rem;
}
.signup form .province{
    font-size: rem;
}

/*sign up section end*/



/*footer section */
.footer{
    font-family:Arial, Helvetica, sans-serif;
    background: lightcyan;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: blue;
    padding: 1rem 0;
}
.footer .box-container .box a{
    display: block;
    font-size: 1.2rem;
    color: dark cyan;
    padding: 1rem 0;

}
.footer .box-container .box a i{
    padding-right: 0.5rem;
    color:teal;
    text-transform: lowercase;
}
.footer .box-container .box a:hover {
    
    color: white;
}
/*footer section end*/



/*login*/

.login .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.login .row .image{
    flex: 1 1 45rem;
}

.login .row .image img{
    width: 100%;
}
.login .row form{
    flex: 1 1 45rem; 
    background-color: #84b7da;
    text-align: center;
    padding: 2rem;
    border-radius: 0.5rem;
}

.login .row form h3{
    color: blue;
    padding-bottom: 1rem;
    font-size: 3rem;
}
.login .row form p{
    text-transform: lowercase;
    font-size: 1.5rem;
    color: darkcyan;
}
.login .row form p span{
    color: red;
    font-size: 2rem;
}
.login .row form .box{
    width: 100%;
    margin: 0.7rem 0;
    border-radius: 0.5rem;
    border:0.3rem solid blue; 
    font-size: 1.6rem;
    color: black;
    text-transform: none;
    padding: 1rem;
}

.login .row form .btn{
    padding: 1rem 3rem;
    cursor: pointer;
}



.login .checkbox-text {
    text-transform: lowercase;
    display:flex ;
    align-items: center;
    font-size: 1.2rem;
    justify-content: space-between;
}
.login .checkbox-text a{
    display: flex;
    text-transform: lowercase;
}
.login .checkbox-text a:hover{
    font-size: 1.8rem;
    color: darkcyan;
    text-decoration: underline;
}
.checkbox-content input{
    margin: 0 4px -2px 4px;
}
.login-signup{
    text-transform: lowercase;
    display:flex ;
    align-items: center;
    font-size: 1.2rem;
   margin-left: 7rem;
    text-align: center;
    
}










/*media queries*/
@media(max-width:991px){

    html{font-size: 55%;
}
.header{
    padding: 2rem;
}
section{
padding: 2rem;
}
}

@media(max-width:768px){
   #menu-btn{
    display: initial;
   }
   .header .navbar{
    position: absolute;
    top: 115%; right: 2rem;
    border-radius: 0.5rem;
    box-shadow: rgb(0,128,128);
    width: 30rem;
    border:0.2rem solid royalblue;
    background: white;
    transform: scale(0);
    opacity: 0;
    transform-origin: top right;
    transition: none;
   }

   .header .navbar.active {
    transform: scale(1);
    opacity: 1;
    transition: 0.2s ease-out;
   }

   .header .navbar a{
    font-size: 2rem;
    display: block;
    margin: 2.5rem;


   }
}

@media(max-width:450px){

    html{font-size: 50%;
}
}